# Ignore virtual environment
venv/
VENV/
env/
ENV/
.virtualenv/
.venv/

# Ignore macOS system files
.DS_Store

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and environment config
*.log
.env
*.env

# Ignore IDE/editor-specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore dependency lock files (optional)
Pipfile.lock
poetry.lock

# Ignore browser automation downloads
pyppeteer_local_chromium/